.header-container {
    display: flex;
    gap: 30px;

}

.container-items-sold {
    border: 2px dashed green;
    background-color: lightgreen;
    border-radius: 15px;
    text-align: center;
    padding: 10px;

}

.container-items-bought {
    border: 2px dashed blue;
    background-color: lightblue;
    border-radius: 15px;
    text-align: center;
    padding: 10px;


}

.container-items-to-sell {
    border: 2px dashed red;
    background-color: lightpink;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

.main-container {
    border: 3px dashed grey;
    background-color: lightgrey;
    border-radius: 15px;
    display: flex;
    padding: 20px 40px;
    gap: 20px;
    margin: 10px;
    /*height: 300px;*/

}

.image-wrapper {
    display: flex;
    flex: 2;
    max-width: 350px;
    align-items: center;
}

.main-container img {
    width: 100%;
    height: 90%;

}

.tv-description {
    flex: 3;
}

.icon img {
    height: 15px;
    width: auto;
    margin-right: 5px;
}

.applications img {
    height: 15px;
    width: auto;
    margin-right: 5px;
    align-self: center;
}

.tv-price {
    font-size: 30px;
}

li {
    list-style: none;
}

.applications {
    display: flex;
    gap: 1rem;
}



